
<!DOCTYPE html>


<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Development CSS -->
	<link href="static/dist/styles.dev.css" rel="stylesheet" type="text/css" />
	<!-- Production CSS -->
	<!-- <link href="static/dist/styles.css" rel="stylesheet" type="text/css" /> -->

	<title>May Ball Market - Trinity</title>

</head>

<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="http://whichmayball.co.uk">WhichMayBall</a>

				<div class="nav-collapse collapse">
					<ul class="nav pull-right">

						<li><a href="/rango/login/">Login</a></li>

					</ul>

					<ul class="nav">


						<li><a href="">Market</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li></li>
						<li></li>


					</ul>

					<ul class="nav nav-list">
						<li class="nav-header">Ticket Type</li>

					</ul>


					<div id="cats">
						<ul class="nav nav-list">
							<li>
								<div class="checkbox">
									<label>
										<input type="checkbox"> Standard
									</label>
																		<label>
										<input type="checkbox"> Dining
									</label>
																		<label>
										<input type="checkbox"> VIP
									</label>
								</div>		
							</li>
						</ul>

					</div>




				</div>

			</div>
			<!--/span-->
			<div class="span9">


				<div class="hero-unit">
					<h1>Trinity May Ball</h1>

					<p>Monday June 16th, 2014</p>
				</div>

				<div class="row-fluid">
					<div class="span6">
						<h2>Sell</h2>


					</div>
					<!--/span-->
					<div class="span6">
						<h2>Buy</h2>

					</div>
					<!--/span-->
				</div><!--/row-->




			</div>
			<!--/span-->
		</div>
		<!--/row-->

	</div>
	<!--/.fluid-container-->

	<hr>

	<footer>
		<div class="container">
			<p>&copy; WhichMayBall 2014</p>
		</div>
	</footer>


	<hr/>


	<!-- Scripts at the bottom for efficiency -->
	<!-- Development -->
	<script language="javascript" type="text/javascript" src="static/lib/requirejs/require.js" data-main="static/js/main.js"></script>
	<!-- Production -->
	<!-- <script language="javascript" type="text/javascript" src="static/lib/requirejs/require.js" data-main="static/dist/main.js"></script> -->
</body>
</html>

