<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<p>Are you sure you want to {{ user_action }} a ticket for {{ offer.ticket_class.event }} for GBP {{ offer.price }}?</p>
{% url 'pay' offer_id=offer.id as payment_url %}

{% if user.is_authenticated %}

    <a href="{{ payment_url }}">Yes, let's check out</a>

{% else %}

    <p>To complete the transaction, you'll have to log in with Raven.</p>
    <!-- This method of setting the get parameter 'next' is so ugly. TODO: Find a better way -->
    <a href="{% url 'login' %}?next={{ payment_url }}">Login</a>

{% endif %}


</body>
</html>